.header {
    width: 40%;
    /* max-width: 1520px; */
    max-width: 600px;
    color: white;
    position: relative;
    z-index: 10;
}

.viewLinks {
    list-style-type: none;
    display: flex;
    column-gap: 1.5rem;
    pointer-events: all;
}

.viewLinks {
    color: #FFF;
    font-family: Inter;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.viewLinks a,
.viewLinks a:visited {
    color: var(--primary-font-color);
}

.greeting {
    color: #FFF;
    font-family: Inter;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto auto 20px auto;
}

.introText {
    font-size: 1.15rem;
    margin-bottom: 20px;
    line-height: 1.25;
}